@model RideWizz.Models.CarsOutputModel
@{
    ViewBag.Title = "All Cars";
}

@section Scripts {
    @Scripts.Render("~/Scripts/Cars.js")
}

<div class="logo"><img src="~/Images/logo.png" title="RideWizz!" /></div>

<div class="header-text">Welcome to RideWizz, the premier randomly generated car data website on the internet!</div>

<div class="car-container">
    @foreach (var car in Model.AllCars) {
        <div class="car">
            <img class="image" src="~/Images/@car.Image" style="-webkit-filter: hue-rotate(@(car.HueRotation)deg); filter: hue-rotate(@(car.HueRotation)deg);" />
            <div class="info">@car.Year @car.Make @car.Model</div>
            <div class="mileage">@car.Mileage.ToString("N0") miles</div>
            <div class="price">@car.Price.ToString("C0")</div>
        </div>
    }
</div>