@model RideWizz.Models.CarsOutputModel
@{
    ViewBag.Title = "All Cars";
}

@section Scripts {
    @Scripts.Render("~/Scripts/Cars.js")
}

<div class="logo"><a href="@Url.Content("~")"><img src="~/Images/logo.png" title="RideWizz!" /></a></div>

<div class="header-text">Welcome to RideWizz, the premier randomly generated car data website on the internet!</div>

<div class="car-links">Show me: <a href="@Url.Action("Index", "Cars", new { id = 1 })">1 car!</a> <a href="@Url.Action("Index", "Cars", new { id = 10 })">10 cars!</a> <a href="@Url.Action("Index", "Cars", new { id = 50 })">50 cars!</a></div>

<div class="car-container">
    @foreach (var car in Model.AllCars) {
        <div class="car">
            <img class="image" src="~/Images/@car.Image" style="-webkit-filter: hue-rotate(@(car.HueRotation)deg); filter: hue-rotate(@(car.HueRotation)deg);"/>
            <div class="info">@car.Year @car.Make @car.Model</div>
            <div class="mileage">@car.Mileage.ToString("N0") miles</div>
            <div class="price">@car.Price.ToString("C0")</div>
        </div>
    }
</div>

<div class="credits">This is a web dev speed exercise by <a href="http://foolmoron.io/">Momin Khan</a></div>